*.gem
*.rbc
*.iml
.asciidoctor
.idea
.gradle
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
testing
test/tmp
test/version_tmp
tmp
vendor
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
pkg/