name: macOS unit tests
on:
  push:
    branches: ['main']
    tags-ignore: ['**']
  pull_request:
  schedule:
    - cron: '0 2 * * *'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos]
        ruby: [2.7, 3.0, jruby, truffleruby]
        node: [22]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup Golang
        uses: actions/setup-go@v2
      - name: Setup Go path
        run: |
          echo "$HOME/go/bin" >> $GITHUB_PATH
      - name: Install Python Dependencies
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install cairo
          brew install pango
          pip3 install pycairo
          pip3 install pygobject
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - name: Install MacTex
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install --cask mactex
          echo "/Library/TeX/texbin" >> $GITHUB_PATH
      - name: Install Graphviz
        run: export HOMEBREW_NO_INSTALL_CLEANUP=1 && brew install graphviz
      - name: Install Lilypond
        run: |
          curl -L "https://gitlab.com/marnen/lilypond-mac-builder/-/package_files/9872804/download" -o lilypond.tar.gz
          tar -xf lilypond.tar.gz
          echo "$PWD" >> $GITHUB_PATH
          sudo spctl --add "$PWD/LilyPond.app"
      - name: Install AsciitoSVG
        run: |
          go install github.com/asciitosvg/asciitosvg/cmd/a2s@latest
      - name: Install GoAT
        run: |
          go install github.com/blampe/goat/cmd/goat@latest
      - name: Install Bytefield-SVG
        run: npm install -g bytefield-svg
      - name: Install ERD
        run: |
          go install github.com/kaishuu0123/erd-go@latest
      - name: Install DPIC
        run: |
          wget https://ece.uwaterloo.ca/~aplevich/dpic/dpic.tar.gz
          tar -xf dpic.tar.gz
          cd $(tar -ztf dpic.tar.gz | grep -e "dpic[^/]*/$")
          ./configure
          make
          make PREFIX=local install
      - name: Install Pikchr
        run: |
          wget https://github.com/drhsqlite/pikchr/archive/refs/heads/master.zip
          unzip master.zip
          cd pikchr-master
          make
          echo "$(pwd)" >> $GITHUB_PATH
      - name: Install BPNM-JS
        run: npm install -g bpmn-js-cmd
      - name: Install Mermaid
        run: npm install -g @mermaid-js/mermaid-cli
      - name: Install NomNoml
        run: npm install -g nomnoml
      - name: Install Pintora
        run: npm install -g @pintora/cli
      - name: Install StateMachineCat
        run: npm install -g state-machine-cat
      - name: Install Vega
        run: |
          npm install -g vega-cli
          npm install -g install-peerdeps
          install-peerdeps -g vega-lite
      - name: Install Wavedrom
        run: npm install -g wavedrom-cli
      - name: Install ImageMagick
        run: export HOMEBREW_NO_INSTALL_CLEANUP=1 && brew install imagemagick
      - name: Install Gnuplot
        run: export HOMEBREW_NO_INSTALL_CLEANUP=1 && brew install gnuplot
      - name: Cache UMLet
        id: cache-umlet
        uses: actions/cache@v3
        with:
          path: umlet-standalone-14.3.0.zip
          key: umlet_zip
      - name: Download UMLet
        if: steps.cache-umlet.outputs.cache-hit != 'true'
        run: |
          curl -s -O https://www.umlet.com/download/umlet_14_3/umlet-standalone-14.3.0.zip
      - name: Install UMLet
        run: |
          unzip -qq umlet-standalone-14.3.0.zip
          cp Umlet/umlet.sh Umlet/umlet
          chmod +x Umlet/umlet
          echo "$PWD/Umlet" >> $GITHUB_PATH

      - name: Install MSCgen
        run: npm install --global mscgenjs-cli
      - name: Install Blockdiag
        run: pip3 install blockdiag[pdf] actdiag seqdiag nwdiag[pdf]
      - name: Install oxdraw
        run: |
          cargo install oxdraw
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Install svgbob
        run: |
          cargo install svgbob_cli
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
#      - name: Install Symbolator
#        run: pip3 install symbolator
      - name: install DeJaVu Font
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew tap homebrew/cask-fonts
          brew install font-dejavu
      - name: Install Diagrams
        run: pip3 install diagrams
      - name: Install d2
        run: |
          go install oss.terrastruct.com/d2@latest
      - name: Install Wavedrom
        run: npm install -g wavedrom-cli
      - name: Run tests
        run: bundle exec rake test
        env:
          BLOCKDIAG_FONTPATH: /Users/runner/Library/Fonts/DejaVuSans.ttf
